sudo: true
language: cpp
compiler: gcc
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
install: sudo apt-get install -qq g++-5
addons: 
  apt: 
    packages: libboost-all-dev
script: 
  - ./install_other_githubs.sh
  - ./build.sh
